* {
  overflow-x: hidden;
}

body {
  background-color: #eff1f5;
  color: #4c4f69;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 101vw;
  position: absolute;
  left: -0.5em;
}

.nav-row1 {
  display: flex;
  width: 95%;
  justify-content: space-between;
}

nav {
  overflow: hidden;
  opacity: 0.9;
  position: fixed;
  top: 0;
  padding: 2vh 2vw;
  background-color: #7c7f93;
  z-index: 100000;
  display: flex;
  left: 0;
  width: 100vw;
}

nav *,
.dropdown * {
  background-color: #7c7f93;
  font-weight: 900;
}

nav h4,
.dropdown h4 {
  margin: 0;
}

nav a,
.dropdown a {
  text-decoration: none;
}

nav a:link,
.dropdown a:link {
  color: #dc8a78;
}

nav a:hover,
.dropdown a:hover {
  color: #7287fd;
}

nav a:visited,
.dropdown a:visited {
  color: #dc8a78;
}

nav a:visited:hover,
.dropdown a:visited:hover {
  color: #7287fd;
}

nav a h4,
.dropdown a h4 {
  color: #dc8a78;
}

nav a:link h4,
.dropdown a:link h4 {
  color: #dc8a78;
}

nav a:hover h4,
.dropdown a:hover h4 {
  color: #dc8a78;
}

nav a:visited h4,
.dropdown a:visited h4 {
  color: #dc8a78;
}

nav a:visited:hover h4,
.dropdown a:visited:hover h4 {
  color: #dc8a78;
}

footer {
  background-color: #9ca0b0;
  height: 10vh;
  overflow: hidden;
  width: 103vw;
  position: absolute;
  left: -1vw;
  bottom: -2vh;
  text-align: center;
  z-index: 90000;
  display: flex;
  justify-content: space-evenly;
}

footer a {
  padding-top: 3vh;
  text-decoration: none;
  font-weight: 900;
}

footer a:link {
  color: #ffffff;
}

footer a:hover {
  color: #ffffff;
}

footer a:visited {
  color: #ffffff;
}

footer a:visited:hover {
  color: #ffffff;
}

footer img {
  height: 4vh;
}

.dropdown {
  display: none;
}

.header {
  padding-top: 3vh;
  overflow: hidden;
  width: 101vw;
  position: relative;
  top: -5px;
  left: -8px;
  text-align: center;
  background-color: #9ca0b0;
  margin-bottom: 2vh;
}

.header h1 {
  color: #dd7878;
  font-size: 36pt;
}

.header h2 {
  font-style: italic;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.frame {
  border: 3px solid #7c7f93;
  background: #9ca0b0;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 15px 10px;
  width: 26vw;
  display: flex;
}

.me-pic {
  width: 25vw;
  margin: auto;
}

.about {
  text-align: center;
  border: 3px solid #7c7f93;
  background: #9ca0b0;
  padding: 0.5vh 2vw;
  margin: 5vh 10vw;
  margin-bottom: 5em;
  color: #eff1f5;
}
.certs-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 3em;
  width: 100vw;
  height: 45vh;
}

.cert-container {
  border: 3px solid #7c7f93;
  background: #9ca0b0;
  margin: 0 1vw;
  padding: 3em;
  width: 30vw;
  height: max-content;
}

.cert-container img {
  display: none;
}

.icon {
  display: none;
}

.skill-container {
  border: 3px solid #7c7f93;
  background: #9ca0b0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5vh 1em;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 5em;
  align-self: flex-end;
  align-content: flex-end;
  max-width: 90vw;
}

.skill-container img {
  width: 15vw;
  padding: 1vh 1vw;
}

.lang-container {
  align-self: flex-end;
  text-align: center;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5em;
  width: 100vw;
}

.projects {
  border: 3px solid #7c7f93;
  background: #9ca0b0;
  text-align: center;
  min-width: 30vw;
  max-width: 35vw;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3vh 3vw;
}

.projects img {
  width: 20vw;
}

.projects button {
  font-size: 16pt;
  padding: 1vh 1vw;
  background-color: #7c7f93;
  border: 1px solid #9ca0b0;
  color: #eff1f5;
}

.projects h2 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.demo-video {
  padding-top: 0.3em;
}

.github {
  padding-bottom: 0.3em;
}

@media only screen and (max-width: 600px) {
  nav {
    overflow: hidden;
    opacity: 0.9;
    position: fixed;
    top: 0;
    padding: 2vh 2vw;
    background-color: #7c7f93;
    z-index: 100000;
    display: flex;
    flex-wrap: wrap;
    left: 0;
    justify-content: space-around;
    width: 100vw;
  }

  nav *,
  .dropdown * {
    background-color: #7c7f93;
    font-weight: 900;
  }

  nav h4,
  .dropdown h4 {
    margin: 0;
  }

  nav a,
  .dropdown a {
    text-decoration: none;
  }

  nav a:link,
  .dropdown a:link {
    color: #dc8a78;
  }

  nav a:hover,
  .dropdown a:hover {
    color: #7287fd;
  }

  nav a:visited,
  .dropdown a:visited {
    color: #dc8a78;
  }

  nav a:visited:hover,
  .dropdown a:visited:hover {
    color: #7287fd;
  }

  nav a h4,
  .dropdown a h4 {
    color: #dc8a78;
  }

  nav a:link h4,
  .dropdown a:link h4 {
    color: #dc8a78;
  }

  nav a:hover h4,
  .dropdown a:hover h4 {
    color: #dc8a78;
  }

  nav a:visited h4,
  .dropdown a:visited h4 {
    color: #dc8a78;
  }

  nav a:visited:hover h4,
  .dropdown a:visited:hover h4 {
    color: #dc8a78;
  }

  footer {
    background-color: #9ca0b0;
    height: 10vh;
    overflow: hidden;
    width: 103vw;
    position: absolute;
    left: -1vw;
    bottom: -2vh;
    text-align: center;
    z-index: 90000;
    display: flex;
    justify-content: space-evenly;
  }

  footer a {
    padding-top: 3vh;
    text-decoration: none;
    font-weight: 900;
  }

  footer a:link {
    color: #ffffff;
  }

  footer a:hover {
    color: #ffffff;
  }

  footer a:visited {
    color: #ffffff;
  }

  footer a:visited:hover {
    color: #ffffff;
  }

  footer img {
    height: 4vh;
  }

  .non-dropdown {
    display: none;
  }

  .dropdown {
    overflow: hidden;
  }

  .icon {
    display: block;
  }

  .header {
    max-height: 10em;
    padding-top: 3vh;
    overflow: hidden;
    width: 101vw;
    position: relative;
    top: -5px;
    left: -8px;
    text-align: center;
    background-color: #9ca0b0;
    margin-bottom: 2vh;
  }

  .header h1 {
    font-size: 20pt;
  }

  .header h2 {
    font-size: 15pt;
  }

  .certs-container {
    width: 90vw;
    height: 100%;
    flex-direction: column;
    align-items: center;
  }

  .cert-container {
    flex-direction: row;
    padding-bottom: 0;
    margin: 1em 0;
  }

  .last {
    margin-bottom: 10em;
  }

  .cert-container object {
    display: none;
  }

  .cert-desc {
    display: none;
  }

  .cert-container img {
    display: block;
    height: 100px;
  }

  .projects {
    max-width: 95vw;
  }

  .lang-container {
    padding: 0 1em;
  }

  .skill-container {
    max-width: 80vw;
  }

  .frame {
    width: 75vw;
  }

  .me-pic {
    width: 70vw;
    margin: auto;
  }

  .certs-container {
    width: 100vw;
  }

  .cert-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
  }
}
